extends ../layouts/main-layout.pug

block content
  h1 Orders
    if orders.length > 0
      ul
        each order in orders
          li
            h1 # #{ order._id }
            ul
              each product in order.items
                li #{ product.title } - $#{ product.price } x #{ product.quantity }
    else
      p No orders yet
