extends ../layouts/main-layout.pug

block styles
  link(rel="stylesheet", href="/css/orders.css")

block content
  main
    h1 Orders
      if orders.length > 0
        ul.orders
          each order in orders
            li.orders__item
              h1 # #{ order.id }
              ul.orders__products
                each productItem in order.products
                  li.orders__products-item #{ productItem.product.title } - $#{ productItem.product.price } x #{ productItem.quantity }
      else
        p No orders yet
